<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (subPillarItemTranslation(); as subPillarItemTranslationRef) {
      <div>
        <h2 data-cy="subPillarItemTranslationDetailsHeading">
          <span jhiTranslate="liferadarApp.subPillarItemTranslation.detail.title">Sub Life Pillar Item Translation</span>
        </h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ subPillarItemTranslationRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="liferadarApp.subPillarItemTranslation.lang">Lang</span></dt>
          <dd>
            <span [jhiTranslate]="'liferadarApp.LangCode.' + (subPillarItemTranslationRef.lang ?? 'null')">{{
              { null: '', EN: 'EN', AR: 'AR', FR: 'FR' }[subPillarItemTranslationRef.lang ?? 'null']
            }}</span>
          </dd>
          <dt><span jhiTranslate="liferadarApp.subPillarItemTranslation.name">Name</span></dt>
          <dd>
            <span>{{ subPillarItemTranslationRef.name }}</span>
          </dd>
          <dt><span jhiTranslate="liferadarApp.subPillarItemTranslation.description">Description</span></dt>
          <dd>
            <span>{{ subPillarItemTranslationRef.description }}</span>
          </dd>
          <dt><span jhiTranslate="liferadarApp.subPillarItemTranslation.subPillarItem">Sub Life Pillar Item</span></dt>
          <dd>
            @if (subPillarItemTranslation()!.subPillarItem) {
              <div>
                <a [routerLink]="['/sub-pillar-item', subPillarItemTranslation()!.subPillarItem?.id, 'view']">{{
                  subPillarItemTranslationRef.subPillarItem?.id
                }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button
          type="button"
          [routerLink]="['/sub-pillar-item-translation', subPillarItemTranslationRef.id, 'edit']"
          class="btn btn-primary"
        >
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
