<div class="d-flex justify-content-center">
  <div class="col-8">
    @if (pillar(); as pillarRef) {
      <div>
        <h2 data-cy="pillarDetailsHeading"><span jhiTranslate="liferadarApp.pillar.detail.title">Life Pillar</span></h2>

        <hr />

        <jhi-alert-error />

        <jhi-alert />

        <dl class="row-md jh-entity-details">
          <dt><span jhiTranslate="global.field.id">ID</span></dt>
          <dd>
            <span>{{ pillarRef.id }}</span>
          </dd>
          <dt><span jhiTranslate="liferadarApp.pillar.code">Code</span></dt>
          <dd>
            <span>{{ pillarRef.code }}</span>
          </dd>
          <dt><span jhiTranslate="liferadarApp.pillar.isActive">Is Active</span></dt>
          <dd>
            <span>{{ pillarRef.isActive }}</span>
          </dd>
          <dt><span jhiTranslate="liferadarApp.pillar.owner">Owner</span></dt>
          <dd>
            @if (pillar()!.owner) {
              <div>
                <a [routerLink]="['/extended-user', pillar()!.owner?.id, 'view']">{{ pillarRef.owner?.id }}</a>
              </div>
            }
          </dd>
        </dl>

        <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
          <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
        </button>

        <button type="button" [routerLink]="['/pillar', pillarRef.id, 'edit']" class="btn btn-primary">
          <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
        </button>
      </div>
    }
  </div>
</div>
